* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1{
  display: block;
  width: 100%;
  height: 2rem;
  text-align: center;
}

.card {
  width: 15rem;
  height: 20rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 2px;
  text-align: center;
  transition: transform 0.2s;

 
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #333;
}

.card p {
  color: #666;
}

.card button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #0056b3;
}